    @media (max-width:1280px) {
    .bac1 {
        width: auto;
    }
    .Navbar {
        height: auto;
    }
    .header {
        padding: 14px 2%;
        transition: 0.2s;
    }
    .Navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
    .back12{
        margin-top: 10%;
    }
    
    
    }
    @media (max-width: 1024px) {
    .Navbar {
        height: auto;
    }
    .menu-icon {
        display: block;
    }
    ul {
        position: absolute;
        width: 100%;
        height: 45vh;
        background-color: lightgrey;
        top: 80px;
        left: -100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 3;
    }

    .Navbar ul li {
        display: block;
        margin: 50px 0;
    }
    .Navbar ul li a {
        font-size: 20px;
    }

    #check:checked ~ ul {
        left: 0;
    }
    #check:checked ~ ul:hover {
        background-color: gray;
        color: #fff;
    }

    /* pra */
    .pra1 {
        left: 1%;
    }
    .pra3 {
        width: 370px;
        padding: 10px;
    }

    /* Section 2 */
    .back12 {
        width: 100%;
        margin-top: 20%;
        height: 70vh;
    }

    .back12 .row2 .card_part1 {
        width: 250px;
        
    }
    .back12 .row2 .card_part2 {
        width: 250px;
    }
    .back12 .row2 .card_part3 {
        width: 250px;
    }
    }

    
    /* @media (min-width: 820px) {
    .back12 {
        margin-top: 20%;
        height: 70vh;
    }
    .back12 .row2 .card_part1 {
        width: 250px;
        height: 400px;
    }
    .back12 .row2 .card_part2 {
        width: 250px;
        height: 400px;
    }
    .back12 .row2 .card_part3 {
        width: 250px;
        height: 400px;
    }
    .back12 .row2 .card1 img {
        height: 20vh;
    }
    .back12 .row2 .card2 img {
        height: 20vh;
    }
    .back12 .row2 .card3 img {
        height: 20vh;
    }
    } */

    @media (max-width: 768px) {
    .Navbar {
        height: auto;
    }
    /* Section 2 */
    .back12 {
        height: auto;
        text-align: center;
        margin-top: 25%;
    }
    .back12 .row1 {
        text-align: center;
        color: #fff;
        line-height: 3;
    }
    .back12 .row3 {
        display: flex;
        flex-flow: row;
        align-items: center;
        color: #222;
        justify-content: center;
    }
    .back12 .row3 .footer {
        width: 100px;
        background-color: lightpink;
        padding: 10px 15px;
        border-radius: 20px;
        font-weight: bold;
    }
    .back12 .row3 p:hover {
        background-color: grey;
        color: #fff;
    }

    .back12 .row2 {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .back12 .row2 .card_part1 {
        width: 300px;
        background-color: #fff;
        padding: 20px;
        border-top-right-radius: 80px;
        border-bottom-left-radius: 80px;
        margin-bottom: 24px;
        text-align: center;
    }
    .back12 .row2 .card_part2 {
        width: 300px;
        background-color: #fff;
        padding: 20px;
        border-top-right-radius: 80px;
        border-bottom-left-radius: 80px;
        margin-bottom: 24px;
        text-align: center;
    }
    .back12 .row2 .card_part3 {
        width: 300px;
        background-color: #fff;
        padding: 20px;
        border-top-right-radius: 80px;
        border-bottom-left-radius: 80px;
        margin-bottom: 24px;
        text-align: center;
    }

    .back12 .row2 .card1 img {
        width: 100%;
        height: 30vh;
        border-top-right-radius: 80px;
    }
    .back12 .row2 .card2 img {
        width: 100%;
        height: 30vh;
        border-top-right-radius: 80px;
    }
    .back12 .row2 .card3 img {
        width: 100%;
        height: 30vh;
        border-top-right-radius: 80px;
    }
    }
    @media (max-width: 380px) {
    .Navbar {
        height: auto;
    }
    .row1 h1 {
        font-size: 35px;
    }
    /* pra */
    .pra1 {
        left: 1%;
        top: 35%;
    }

    .pra3 {
        width: 250px;
        height: 160px;
    }
    .pra3 > h1 {
        font-size: 25px;
    }
    .pra3 > p {
        margin-top: 4px;
        font-size: 12px;
    }
    /* Section 2 */
    .back12 {
        margin-top: 30%;
    }
    .back12 .row1 {
        line-height: 3;
    }
    .back12 .row2 {
        padding: 0%;
    }
    .back12 .row2 .card_part1 {
        width: 230px;
        height: 300px;
        font-size: 11px;
        padding: 17px;
    }
    .back12 .row2 .card_part2 {
        width: 230px;
        height: 300px;
        font-size: 11px;
        padding: 17px;
    }
    .back12 .row2 .card_part3 {
        width: 230px;
        height: 300px;
        font-size: 11px;
        padding: 17px;
    }
    .back12 .row2 .card_part1 > p {
        font-size: 10px;
    }
    .back12 .row2 .card_part2 > p {
        font-size: 10px;
    }
    }
